@import "vars";
@import "libs";
@import "fonts";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// RESET CSS

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// MAIN STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

li {
    list-style-type: none;
}

//
//
//
//
//
//
//
//
//
//
//
//
//
// ASIDE HERE

.aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    &__top {
        height: 100px;
        background: $bg;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &__username {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $text;
    }
    &__bottom {
        background: $bg;
        margin-top: 10px;
        padding: 24px 20px 0 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 100%;
        overflow-y: scroll;
        &-title {
            font-size: 18px;
            text-align: center;
            color: $purple;
            position: relative;
            max-width: 130px;
            margin: 0 auto;

            &:after {
                content: "";
                position: absolute;
                top: -2px;
                right: -2px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $green;
            }
        }
        &-list {
            padding-top: 20px;
            &-item {
                width: 310px;
                height: 34px;
                margin: 15px 0;
            }
        }
        &-user {
            &-name {
                font-size: 12px;
                font-weight: 600;
                line-height: 21px;
                color: $text;
            }
        }
    }
}

// DIALOG
.container {
    padding: 0 60px;
}

.main {
    margin-left: 260px;
}
.dialog {
    &__wrapper {
    }
    &__title {
        width: 130px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $purple;
        border-radius: 14px;
        margin: 30px auto 0 auto;
        color: $white-text;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
    }
    &__content {
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-name {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $text;
        }
        &-message {
            max-width: 500px;
            padding: 16px 20px 10px 20px;
            margin-top: 10px;
            background: $bg;
            border-radius: 10px;
            &-text {
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: $text;
                font-family: "Roboto", sans-serif;
            }
            &-flex {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 5px;
            }
            &-status {
                margin-right: 10px;
            }
            &-time {
                font-weight: 400;
                font-size: 10px;
                line-height: 12px;
                color: $purple;
                font-family: "Roboto", sans-serif;
            }
        }
        &-my {
            align-self: flex-end;
        }
        &-my &-name {
            text-align: right;
        }
        &-my &-message {
            background-color: $orange;
            &-time {
                color: $white-text;
            }
        }
    }
}

@import "media";
